node-red/fluxo_node_red.json
[
  {
    "id": "tab_estufa",
    "type": "tab",
    "label": "Estufa IoT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "tab_estufa",
    "name": "MQTT estufa1/sensores",
    "topic": "estufa1/sensores",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 100,
    "wires": [["parse_json"]]
  },
  {
    "id": "parse_json",
    "type": "function",
    "z": "tab_estufa",
    "name": "Extrair campos",
    "func": "msg.temperatura  = msg.payload.temperatura;\nmsg.umidade      = msg.payload.umidade;\nmsg.luminosidade = msg.payload.luminosidade;\nreturn msg;",
    "outputs": 1,
    "x": 330,
    "y": 100,
    "wires": [["gauge_temp", "gauge_umid", "gauge_lum", "chart_temp", "mysql_insert"]]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab_estufa",
    "name": "Temperatura",
    "group": "dashboard_group",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 60,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": 20,
    "seg2": 35,
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "gauge_umid",
    "type": "ui_gauge",
    "z": "tab_estufa",
    "name": "Umidade",
    "group": "dashboard_group",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Umidade (%)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#ca3838", "#e6e600", "#00b500"],
    "seg1": 30,
    "seg2": 70,
    "x": 560,
    "y": 120,
    "wires": []
  },
  {
    "id": "gauge_lum",
    "type": "ui_gauge",
    "z": "tab_estufa",
    "name": "Luminosidade",
    "group": "dashboard_group",
    "order": 3,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Luminosidade (lux)",
    "label": "lux",
    "format": "{{value}}",
    "min": 0,
    "max": 10000,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": 1000,
    "seg2": 7000,
    "x": 560,
    "y": 180,
    "wires": []
  },
  {
    "id": "chart_temp",
    "type": "ui_chart",
    "z": "tab_estufa",
    "name": "Gráfico Temperatura",
    "group": "dashboard_group",
    "order": 4,
    "width": 12,
    "height": 6,
    "label": "Histórico de Temperatura (°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "x": 560,
    "y": 240,
    "wires": [[], []]
  },
  {
    "id": "mysql_insert",
    "type": "function",
    "z": "tab_estufa",
    "name": "Montar SQL INSERT",
    "func": "msg.topic = \"INSERT INTO leituras (temperatura, umidade, luminosidade) VALUES (?, ?, ?)\";\nmsg.payload = [msg.temperatura, msg.umidade, msg.luminosidade];\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 300,
    "wires": [["mysql_node"]]
  },
  {
    "id": "mysql_node",
    "type": "mysql",
    "z": "tab_estufa",
    "mydb": "mysql_config",
    "name": "Salvar no MySQL",
    "x": 760,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "openweather_inject",
    "type": "inject",
    "z": "tab_estufa",
    "name": "A cada 10 min",
    "repeat": "600",
    "once": true,
    "x": 120,
    "y": 400,
    "wires": [["openweather_req"]]
  },
  {
    "id": "openweather_req",
    "type": "http request",
    "z": "tab_estufa",
    "name": "OpenWeatherMap",
    "method": "GET",
    "ret": "obj",
    "url": "https://api.openweathermap.org/data/2.5/weather?q=SuaCidade&appid=SUA_API_KEY&units=metric&lang=pt_br",
    "x": 330,
    "y": 400,
    "wires": [["parse_weather"]]
  },
  {
    "id": "parse_weather",
    "type": "function",
    "z": "tab_estufa",
    "name": "Extrair clima externo",
    "func": "var w = msg.payload;\nmsg.temp_ext  = w.main.temp;\nmsg.umid_ext  = w.main.humidity;\nmsg.condicao  = w.weather[0].description;\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 400,
    "wires": [["text_temp_ext", "text_umid_ext", "text_condicao"]]
  },
  {
    "id": "text_temp_ext",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "dashboard_group",
    "order": 5,
    "width": 4,
    "height": 1,
    "name": "Temp. externa",
    "label": "Temperatura externa (°C)",
    "format": "{{msg.temp_ext}}",
    "x": 760,
    "y": 360,
    "wires": []
  },
  {
    "id": "text_umid_ext",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "dashboard_group",
    "order": 6,
    "width": 4,
    "height": 1,
    "name": "Umidade externa",
    "label": "Umidade externa (%)",
    "format": "{{msg.umid_ext}}",
    "x": 760,
    "y": 400,
    "wires": []
  },
  {
    "id": "text_condicao",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "dashboard_group",
    "order": 7,
    "width": 4,
    "height": 1,
    "name": "Condição climática",
    "label": "Condição climática",
    "format": "{{msg.condicao}}",
    "x": 760,
    "y": 440,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "HiveMQ público",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "mysql_config",
    "type": "MySQLdatabase",
    "name": "estufa_iot",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "estufa_iot",
    "tz": ""
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Monitoramento Estufa",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Estufa IoT",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
