node-red/fluxo_node_red.json
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "Monitoramento IoT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_in_1",
    "type": "mqtt in",
    "z": "tab1",
    "name": "Sensores MQTT",
    "topic": "estufa1/sensores",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 100,
    "wires": [["json_1", "debug_1"]]
  },
  {
    "id": "json_1",
    "type": "json",
    "z": "tab1",
    "name": "Converter JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 100,
    "wires": [["function_1", "mysql_function"]]
  },
  {
    "id": "function_1",
    "type": "function",
    "z": "tab1",
    "name": "Separar dados",
    "func": "return [\n    { payload: msg.payload.temperatura },\n    { payload: msg.payload.umidade },\n    { payload: msg.payload.luminosidade }\n];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "x": 530,
    "y": 100,
    "wires": [["gauge_temp", "chart_temp"], ["gauge_umidade", "chart_umidade"], ["gauge_lux", "chart_lux"]]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "Temperatura",
    "group": "grupo_sensores",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "20",
    "seg2": "30",
    "x": 780,
    "y": 40,
    "wires": []
  },
  {
    "id": "gauge_umidade",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "Umidade",
    "group": "grupo_sensores",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Umidade",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "40",
    "seg2": "70",
    "x": 770,
    "y": 100,
    "wires": []
  },
  {
    "id": "gauge_lux",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "Luminosidade",
    "group": "grupo_sensores",
    "order": 3,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Luminosidade",
    "label": "adc",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#ca3838", "#e6e600", "#00b500"],
    "seg1": "1200",
    "seg2": "2500",
    "x": 790,
    "y": 160,
    "wires": []
  },
  {
    "id": "chart_temp",
    "type": "ui_chart",
    "z": "tab1",
    "name": "Histórico Temperatura",
    "group": "grupo_graficos",
    "order": 1,
    "width": 12,
    "height": 6,
    "label": "Temperatura",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "dot": false,
    "ymin": "0",
    "ymax": "50",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 810,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "chart_umidade",
    "type": "ui_chart",
    "z": "tab1",
    "name": "Histórico Umidade",
    "group": "grupo_graficos",
    "order": 2,
    "width": 12,
    "height": 6,
    "label": "Umidade",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#17becf"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 800,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "chart_lux",
    "type": "ui_chart",
    "z": "tab1",
    "name": "Histórico Luminosidade",
    "group": "grupo_graficos",
    "order": 3,
    "width": 12,
    "height": 6,
    "label": "Luminosidade",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "dot": false,
    "ymin": "0",
    "ymax": "4095",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#ff7f0e"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 820,
    "y": 360,
    "wires": [[]]
  },
  {
    "id": "mysql_function",
    "type": "function",
    "z": "tab1",
    "name": "Insert SQL",
    "func": "let t = msg.payload.temperatura;\nlet u = msg.payload.umidade;\nlet l = msg.payload.luminosidade;\nmsg.topic = `INSERT INTO leituras (temperatura, umidade, luminosidade) VALUES (${t}, ${u}, ${l})`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 530,
    "y": 180,
    "wires": [["mysql_1"]]
  },
  {
    "id": "mysql_1",
    "type": "mysql",
    "z": "tab1",
    "mydb": "mysql_config",
    "name": "Salvar no MySQL",
    "x": 770,
    "y": 180,
    "wires": [["debug_sql"]]
  },
  {
    "id": "inject_clima",
    "type": "inject",
    "z": "tab1",
    "name": "Buscar clima",
    "props": [],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "x": 120,
    "y": 460,
    "wires": [["http_clima"]]
  },
  {
    "id": "http_clima",
    "type": "http request",
    "z": "tab1",
    "name": "OpenWeather",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.openweathermap.org/data/2.5/weather?q=Campinas&appid=SUA_API_KEY&units=metric&lang=pt_br",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 330,
    "y": 460,
    "wires": [["function_clima"]]
  },
  {
    "id": "function_clima",
    "type": "function",
    "z": "tab1",
    "name": "Tratar clima",
    "func": "msg.payload = {\n    temperatura_externa: msg.payload.main.temp,\n    umidade_externa: msg.payload.main.humidity,\n    descricao: msg.payload.weather[0].description\n};\nreturn [\n    { payload: msg.payload.temperatura_externa },\n    { payload: msg.payload.umidade_externa },\n    { payload: msg.payload.descricao }\n];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "x": 530,
    "y": 460,
    "wires": [["gauge_temp_ext"], ["gauge_umid_ext"], ["text_clima"]]
  },
  {
    "id": "gauge_temp_ext",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "Temp Externa",
    "group": "grupo_clima",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura Externa",
    "label": "°C",
    "format": "{{value}}",
    "min": -10,
    "max": 50,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "15",
    "seg2": "30",
    "x": 790,
    "y": 420,
    "wires": []
  },
  {
    "id": "gauge_umid_ext",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "Umidade Externa",
    "group": "grupo_clima",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Umidade Externa",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "40",
    "seg2": "70",
    "x": 800,
    "y": 480,
    "wires": []
  },
  {
    "id": "text_clima",
    "type": "ui_text",
    "z": "tab1",
    "group": "grupo_clima",
    "order": 3,
    "width": 12,
    "height": 2,
    "name": "Descrição clima",
    "label": "Condição",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 780,
    "y": 540,
    "wires": []
  },
  {
    "id": "debug_1",
    "type": "debug",
    "z": "tab1",
    "name": "Debug MQTT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 330,
    "y": 40,
    "wires": []
  },
  {
    "id": "debug_sql",
    "type": "debug",
    "z": "tab1",
    "name": "Debug SQL",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 180,
    "wires": []
  },
  {
    "id": "broker1",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "mysql_config",
    "type": "MySQLdatabase",
    "name": "MySQL Local",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "monitoramento_iot",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "tab_dashboard_1",
    "type": "ui_tab",
    "name": "Monitoramento",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "grupo_sensores",
    "type": "ui_group",
    "name": "Sensores Internos",
    "tab": "tab_dashboard_1",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grupo_graficos",
    "type": "ui_group",
    "name": "Históricos",
    "tab": "tab_dashboard_1",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grupo_clima",
    "type": "ui_group",
    "name": "Clima Externo",
    "tab": "tab_dashboard_1",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  }
]
