node-red/fluxo_node_red.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "Monitoramento IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_in_1",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Sensores MQTT",
        "topic": "estufa1/sensores",
        "qos": "0",
        "datatype": "auto",
        "broker": "b4ec81dac71e5273",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "json_1",
                "debug_1"
            ]
        ]
    },
    {
        "id": "json_1",
        "type": "json",
        "z": "tab1",
        "name": "Converter JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "function_1",
                "mysql_function"
            ]
        ]
    },
    {
        "id": "function_1",
        "type": "function",
        "z": "tab1",
        "name": "Separar dados",
        "func": "return [\n    { payload: msg.payload.temperatura },\n    { payload: msg.payload.umidade },\n    { payload: msg.payload.luminosidade }\n];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "gauge_temp",
                "chart_temp"
            ],
            [
                "gauge_umidade",
                "chart_umidade"
            ],
            [
                "gauge_lux",
                "chart_lux"
            ]
        ]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "tab1",
        "name": "Temperatura",
        "group": "grupo_sensores",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "gauge_umidade",
        "type": "ui_gauge",
        "z": "tab1",
        "name": "Umidade",
        "group": "grupo_sensores",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "gauge_lux",
        "type": "ui_gauge",
        "z": "tab1",
        "name": "Luminosidade",
        "group": "grupo_sensores",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Luminosidade",
        "label": "adc",
        "format": "{{value}}",
        "min": 0,
        "max": 4095,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "1200",
        "seg2": "2500",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "tab1",
        "name": "Histórico Temperatura",
        "group": "grupo_graficos",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sem dados",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_umidade",
        "type": "ui_chart",
        "z": "tab1",
        "name": "Histórico Umidade",
        "group": "grupo_graficos",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sem dados",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_lux",
        "type": "ui_chart",
        "z": "tab1",
        "name": "Histórico Luminosidade",
        "group": "grupo_graficos",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "Luminosidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sem dados",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "mysql_function",
        "type": "function",
        "z": "tab1",
        "name": "Insert SQL",
        "func": "let t = msg.payload.temperatura;\nlet u = msg.payload.umidade;\nlet l = msg.payload.luminosidade;\nmsg.topic = `INSERT INTO leituras (temperatura, umidade, luminosidade) VALUES (${t}, ${u}, ${l})`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "mysql_1"
            ]
        ]
    },
    {
        "id": "mysql_1",
        "type": "mysql",
        "z": "tab1",
        "mydb": "91edd5e2925c71f4",
        "name": "Salvar no MySQL",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "debug_sql"
            ]
        ]
    },
    {
        "id": "inject_clima",
        "type": "inject",
        "z": "tab1",
        "name": "pokemon",
        "props": [],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "fd823589f948b6c6"
            ]
        ]
    },
    {
        "id": "gauge_temp_ext",
        "type": "ui_gauge",
        "z": "tab1",
        "name": "Altura Pokemon",
        "group": "grupo_clima",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Altura do Pokemon",
        "label": "Metros",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#4c00ff",
            "#4c00ff",
            "#4c00ff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "text_clima",
        "type": "ui_text",
        "z": "tab1",
        "group": "grupo_clima",
        "order": 3,
        "width": 12,
        "height": 2,
        "name": "Tipo do Pokemon",
        "label": "Tipo do Pokemon",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "debug_1",
        "type": "debug",
        "z": "tab1",
        "name": "Debug MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug_sql",
        "type": "debug",
        "z": "tab1",
        "name": "Debug SQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "f4fea0cb13a62f75",
        "type": "debug",
        "z": "tab1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "fd823589f948b6c6",
        "type": "http request",
        "z": "tab1",
        "name": "PokeAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://pokeapi.co/api/v2/pokemon/Rayquaza",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 460,
        "wires": [
            [
                "9e3e25fb047a1c48"
            ]
        ]
    },
    {
        "id": "9e3e25fb047a1c48",
        "type": "function",
        "z": "tab1",
        "name": "Tratar PokeAPI",
        "func": "msg.payload = {\n    valor1: msg.payload.height,\n    name: msg.payload.name,\n    descricao: msg.payload.types[0].type.name\n};\nreturn [\n    { payload: msg.payload.valor1 },\n    { payload: msg.payload.name },\n    { payload: msg.payload.descricao }\n];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "gauge_temp_ext"
            ],
            [
                "7e10e1b9f66226c6"
            ],
            [
                "text_clima"
            ]
        ]
    },
    {
        "id": "7e10e1b9f66226c6",
        "type": "ui_text",
        "z": "tab1",
        "group": "grupo_clima",
        "order": 3,
        "width": 12,
        "height": 2,
        "name": "Nome do Pokemon",
        "label": "Nome do Pokemon",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "b4ec81dac71e5273",
        "type": "mqtt-broker",
        "name": "",
        "broker": "c3c4fffad05a4abdb6eefcdb47129952.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "7c0e098b0b64dc3f",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grupo_sensores",
        "type": "ui_group",
        "name": "Sensores Internos",
        "tab": "tab_dashboard_1",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grupo_graficos",
        "type": "ui_group",
        "name": "Históricos",
        "tab": "tab_dashboard_1",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "91edd5e2925c71f4",
        "type": "MySQLdatabase",
        "name": "Tempest",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "monitoramento_iot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "grupo_clima",
        "type": "ui_group",
        "name": "Clima Externo",
        "tab": "tab_dashboard_1",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "7c0e098b0b64dc3f",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "tab_dashboard_1",
        "type": "ui_tab",
        "name": "Monitoramento",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "712699ac29eb923d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-mysql": "3.0.0"
        }
    }
]
